.button {
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 0 10px 0 10px; 
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  color: black;
  background-color: rgb(200, 200, 200);
}

.hovered {
  background-color: rgb(100, 100, 100);
}