.history {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}