@import "_variables";

.home {
  @include flexbox(column);
}

.liftsContainer {
  @include flexbox(column);
  flex-wrap: wrap;
  margin: 5px 0 5px 0;
}

#saveButton {
  width: 200px;
  height: 50px;
  margin: 25px;
}