@import "_variables";

.inputBox {
  @include flexbox(row);
  margin: 2.5px;
}

label {
  @include flexbox(row);
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  padding: 0 10px 0 10px;
  height: 30px;
  background-color: black;
  border-radius: 5px 0 0 5px;
}

input {
  border: none;
  width: 100%;
  margin: 5px;
}

.inputContainer {
  @include flexbox(row);
  width: 28px;
  height: 30px;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: 0;
  margin: 0;
}

#LiftContainer {
  width: 105px;
}

#WeightContainer {
  width: 45px;
}

