@import "_variables";

.liftBox {
  @include flexbox(row);
  flex-wrap: wrap;
  background-color: $medium-gray;
  border-radius: 5px;
  margin: 0 5px 5px 5px;
  padding: 2.5px;
}

#addSetButton {
  margin: 2.5px;
}