@import "_variables";

.pastLift {
  @include flexbox(column);
  background-color: $light-gray;
  color: black;
  border-radius: 5px;
  line-height: 25px;
  margin: 5px;
  padding: 10px;
}

.pastReps {
  @include flexbox(row);
  flex-wrap: wrap;
}

.boldText {
  font-weight: 700;
}