@import "_variables";

.register {
  @include flexbox(column);
  background: $medium-gray;
  border-radius: 5px;
  padding: 2.5px;
}

.regTitle {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#regUsernameContainer, #regPasswordContainer {
  width: 125px;
}