//VARIABLES

$background-gray: rgb(50, 50, 50);
$dark-gray: rgb(100, 100, 100);
$medium-gray: rgb(130, 130, 130);
$light-gray: rgb(200, 200, 200);

//MIXINS

@mixin flexbox($property) {
  display: flex;
  flex-direction: $property;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

//GENERAL

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-gray;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.App {
  @include flexbox(column);
  padding: .5em;
}

.user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: .5em 1.4em; 
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: black;
  background-color: $light-gray;
  cursor: pointer;
}

.hovered {
  background-color: $dark-gray;
}

//NAVIGATION

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
  margin-bottom: 1em;
}

.nav-button {
  flex: 1;
}

@media (min-width: 600px) {
  .nav {
    width: 580px;
    margin: 0 auto 1em;
  }
}

//CURRENT WORKOUT PAGE

.home {
  @include flexbox(column);
}

.lifts-container {
  @include flexbox(column);
}

#save-button {
  width: 200px;
  height: 50px;
  margin: 25px;
}

.lift-box {
  @include flexbox(row);
  background-color: $medium-gray;
  border-radius: 5px;
  margin: 0 .0 .5em;
  padding: .25em;
}

#add-set-button {
  margin: .25em;
}

.input-box {
  @include flexbox(row);
  margin: 2.5px;
}

label {
  @include flexbox(row);
  color: white;
  padding: .5em 1em;
  background-color: black;
  border-radius: 5px 0 0 5px;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  width: 1.5em;
  height: 1.1em;
}

.input-container {
  @include flexbox(row);
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding: .5em .5em;
}

#Lift {
  width: 8em;
}

#Weight {
  width: 2em;
}

@media (max-width: 400px) {  
  body {
    font-size: 13px;
  }
}